* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navContainer {
  width: 100%;
  background-color: cornflowerblue;
}
.navLogo {
  max-height: 30px;
  max-width: 30px;
  padding-right: 5px;
}
@media screen and (min-width: 992px) {
  .dropdown-item {
    text-align: right!important;
  }
}
.navBarContainer {
  background: #198754!important;
  color: white;
}
.navbar-brand{
  color: white!important;
}